<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="col-md-8">

        <div class="jumbotron">
            <h1 class="display-4">Eat Da Blue Burger</h1>
            <p class="lead">Mmmmmmm! Now that is a tasty burger!</p>
            <hr class="my-4">       
        </div>

            <div class="card-body">
                <h5 class="card-title">Login / Register</h5>
                <p class="card-text">“<b>Alice: </b> Would you tell me, please, which way I ought to go from here?</p>
                <p class="card-text"><b>The Cheshire Cat: </b> That depends a good deal on where you want to get to.</p>
                <p class="card-text"><b>Alice: </b> I don't much care where.</p>
                <p class="card-text"><b>The Cheshire Cat: </b>Then it doesn't much matter which way you go.</p>
                <p class="card-text"><b>Alice:</b> ...So long as I get somewhere.</p>
                <p class="card-text"><b>The Cheshire Cat: </b>Oh, you're sure to do that, if only you walk long enough.”</p>
                <p style="font-style: italic;"> Quote from Alice's Adventures in Wonderland written by Charles Lutwidge Dodgson</p>

                <a class="btn btn-primary btn-lg active" href="/login">Login</a>
                <a class="btn btn-primary btn-lg active" href="/enrol">Register</a>
                
            </div>
        </div>
    </div>
</div>


